main{
    border: 1px solid #400101;
    background-color:#B5A4BF;
   justify-content: center;
   margin: 200px;
}

.casa{
    border: 1px solid #400101;
    width: 150px;
    height: 150px;
    font-size: 80px;
    color: #400101;
    text-align: center;
    line-height: 150px;
}
.linha{
    display: grid;
    grid-template-columns: 150px 150px 150px;
}
body{
    display: flex;
    justify-content: center;
    background-color: #F2E4D8;
}
h1{
   color: #400101 ;
  
   text-align: center;
   
}
#bt {
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
    font-size:14px;
    padding: 6px 20px;
    text-decoration: none;
    background-color: #400101;
    color:#F2E4D8;

   
    border: 1px solid #400101;
    margin: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;
   
}
#placar{
    font-family: Georgia, 'Times New Roman', Times, serif;
}